body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
}